{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Reset your password{% endblock title %}

{% block body %}

{% if validlink %}
<div style="height: 100vh;">


  <div class="my-login-page">

    <div class="container h-100">
      <div class="row justify-content-md-center h-100">
        <div class="card-wrapper" style="padding-top: 150px;">

          <div class="card fat">
            <div class="card-body">
              <h4 class="card-title text-center">Reset Your Password</h4>


              <div class="form-group">
                <form method="post">

                  {{ form|crispy }}
                  {% csrf_token %}
                  <!-- <p><input type="submit" value="Change my password"></p> -->
                  <button type="submit" class="btn btn-primary btn-block">
                    submit
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% else %}

<!-- 
  <div class="my-login-page">
    
      <div class="row justify-content-md-center h-100">
        <div class="card-wrapper" style="padding-top: 150px;">

          <div class="card fat">
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

    <div class="card-body text-center my-4 py-4">
      <h1 class="my-4 py-4">
        The Password Reset Link Was Invalid
      </h1>
      <a href="{% url 'password_reset'%}">

        <p class="text-primary">Tryagain</p>
      </a>
    </div>
  
{% endif %}




{% endblock body %}