{% extends "base.html" %}

{% load socialaccount %}
{% providers_media_js %} 

{% load crispy_forms_tags %}
{% block title %}log-in{% endblock title %}

{% load static %}

{% block style %}

<meta charset="utf-8">
<meta name="author" content="Kodinger">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">



<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% endblock style %}









{% block body %}


<div style="height: 100vh;">


    <div class="my-login-page">

        <div class="container h-100">
            <div class="row justify-content-md-center h-100">
                <div class="card-wrapper" style="padding-top: 150px;">

                    <div class="card fat">
                        <div class="card-body">
                            <h4 class="card-title">Login</h4>


                            <div class="form-group">
                                <form action="{% url 'login' %}" method="post" class="my-login-validation"
                                    novalidate="">
                                    {{ form|crispy }}
                                    {% csrf_token %}
                                    <input type="hidden" name="next" value="{{next}}">
                                    <!-- <p><input type="submit" value="login"></p> -->
                                    <button type="submit" class="btn btn-primary btn-block">
                                        Login
                                    </button>
                                   
                                </form>

                            </div>
                            <div class="form-group">
                                
                                <p><a href="{% url 'register'%}">sign up</a></p>
                                <p><a href="{% url 'password_reset'%}">forgot password?</a></p>
                                <button><a href="{% provider_login_url "google" %}">Google Login</a></button>
                                <button><a href="{% provider_login_url "facebook" method="oauth2" %}">Facebook Login</a></button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
    <!-- 
{% if form.errors %}
<p>your username and password are did't match please try again</p>
{%else if% }
    <p>please use use login form for login</p>
{% endif %}


<p>please enter your login detailes</p> -->


<!-- 
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="{% static 'javascript.js' %}"> </script> -->
    {% endblock body %}