{% extends "base.html" %}
{% load crispy_forms_tags %}


{% load static %}

{% block title %}Reset your password{% endblock title %}

{% block body %}
<div style="height: 100vh;">


  <div class="my-login-page">

    <div class="container h-100">
      <div class="row justify-content-md-center h-100">
        <div class="card-wrapper" style="padding-top: 150px;">

          <div class="card fat">
            <div class="card-body">
              <h4 class="card-title">Reset your password</h4>


              <div class="form-group">
                <form method="post">
                  {{ form|crispy }}
                  {% csrf_token %}
                  <!-- <p><input type="submit" value="Send E-Mail"></p> -->
                  <button type="submit" class="btn btn-primary btn-block">
                    submit
                </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %}