{% extends 'example.html' %}
{% load static %}
{% block style %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8" />
<meta name="keywords"
    content="Bootie Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script>
    addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    }
</script>
<!-- //Meta tag Keywords -->

<!-- Custom-Files -->
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<!-- Bootstrap-Core-CSS -->
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" />
<!-- Style-CSS -->
<!-- font-awesome-icons -->
<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
<!-- //font-awesome-icons -->
<!-- /Fonts -->
<link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900"
    rel="stylesheet">
<!-- //Fonts -->


{% endblock style %}

{% block body %}
{% block paged %}products{% endblock paged %}
<!---->

{% block active %}active{% endblock active %}
<!-- banner -->
<section class="ab-info-main py-md-5 py-4">
    <div class="container py-md-3">
        <!-- top Products -->
        <div class="row">
            <!-- product left -->
            <div class="side-bar col-lg-4">

                <div class="search-bar w3layouts-newsletter">
                    <h3 class="sear-head">Search Here..</h3>
                    <form action="#" method="post" class="d-flex">
                        <input type="search" placeholder="Product name..." name="search" class="form-control"
                            required="">
                        <button class="btn1"><span class="fa fa-search" aria-hidden="true"></span></button>
                    </form>
                </div>
                <!--preference -->
                <div class="left-side my-4">
                    <h3 class="sear-head">Occasion</h3>
                    <ul class="w3layouts-box-list">
                        <li>
                            <input type="checkbox" class="checked">
                            <span class="span">Casuals</span>
                        </li>
                        <li>
                            <input type="checkbox" class="checked">
                            <span class="span">Party</span>
                        </li>
                        <li>
                            <input type="checkbox" class="checked">
                            <span class="span">Wedding</span>
                        </li>
                        <li>
                            <input type="checkbox" class="checked">
                            <span class="span">Ethnic</span>
                        </li>
                    </ul>
                </div>
                <!-- // preference -->
                <!-- discounts -->
                <div class="left-side">
                    <h3 class="sear-head">Discount</h3>
                    <ul class="w3layouts-box-list">
                        <li>
                            <input type="checkbox" class="checked">
                            <span class="span">5% or More</span>
                        </li>
                        <li>
                            <input type="checkbox" class="checked">
                            <span class="span">10% or More</span>
                        </li>
                        <li>
                            <input type="checkbox" class="checked">
                            <span class="span">20% or More</span>
                        </li>
                        <li>
                            <input type="checkbox" class="checked">
                            <span class="span">30% or More</span>
                        </li>
                        <li>
                            <input type="checkbox" class="checked">
                            <span class="span">50% or More</span>
                        </li>
                        <li>
                            <input type="checkbox" class="checked">
                            <span class="span">60% or More</span>
                        </li>
                    </ul>
                </div>
                <!-- //discounts -->
                <!-- reviews -->
                <div class="customer-rev left-side my-4">
                    <h3 class="sear-head">Customer Review</h3>
                    <ul class="w3layouts-box-list">
                        <li>
                            <a href="#">
                                <span class="fa fa-star" aria-hidden="true"></span>
                                <span class="fa fa-star" aria-hidden="true"></span>
                                <span class="fa fa-star" aria-hidden="true"></span>
                                <span class="fa fa-star" aria-hidden="true"></span>
                                <span class="fa fa-star" aria-hidden="true"></span>
                                <span>5.0</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-star" aria-hidden="true"></span>
                                <span class="fa fa-star" aria-hidden="true"></span>
                                <span class="fa fa-star" aria-hidden="true"></span>
                                <span class="fa fa-star" aria-hidden="true"></span>
                                <span class="fa fa-star-o" aria-hidden="true"></span>
                                <span>4.0</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-star" aria-hidden="true"></span>
                                <span class="fa fa-star" aria-hidden="true"></span>
                                <span class="fa fa-star" aria-hidden="true"></span>
                                <span class="fa fa-star-half-o" aria-hidden="true"></span>
                                <span class="fa fa-star-o" aria-hidden="true"></span>
                                <span>3.5</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-star" aria-hidden="true"></span>
                                <span class="fa fa-star" aria-hidden="true"></span>
                                <span class="fa fa-star" aria-hidden="true"></span>
                                <span class="fa fa-star-o" aria-hidden="true"></span>
                                <span class="fa fa-star-o" aria-hidden="true"></span>
                                <span>3.0</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-star" aria-hidden="true"></span>
                                <span class="fa fa-star" aria-hidden="true"></span>
                                <span class="fa fa-star-half-o" aria-hidden="true"></span>
                                <span class="fa fa-star-o" aria-hidden="true"></span>
                                <span class="fa fa-star-o" aria-hidden="true"></span>
                                <span>2.5</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- //reviews -->
                <!-- deals -->
                <div class="deal-leftmk left-side">
                    <h3 class="sear-head">Special Deals</h3>
                    {% for la in latest  %}

                    <div class="special-sec1 row mb-3">
                        <div class="img-deals col-md-4">
                            <a href="/single/{{la.slug}}">
                                <img src="{{la.product_image.url}}" class="img-fluid" alt="">
                            </a>
                        </div>
                        <div class="img-deal1 col-md-4">
                            <h3>{{la.product_name}}</h3>
                            <a href="/single/{{la.slug}}">{{la.prize}}</a>
                        </div>
                        {{la.product_image.url}}
                    </div>
                    {% endfor %}

                </div>
                <!-- //deals -->

            </div>
            <!-- //product left -->
            <!-- product right -->
            <!--products -->
            <div class="left-ads-display col-lg-8">
                <div class="row">
                    {% for products in dataa  %}



                    <div class="col-md-4 product-men">
                        <div class="product-shoe-info shoe text-center">
                            <div class="men-thumb-item">
                                <a href="/single/{{products.slug}}">
                                    <img src="{{products.product_image.url}}" class="img-fluid" alt="">
                                </a>
                                <span class="product-new-top"> {{products.products_id.url}}New</span>
                            </div>

                            <div class="item-info-product">
                                <h4>
                                    <a href="/single/{{products.slug}}">{{products.product_name}} </a>
                                </h4>

                                <div class="product_price">
                                    <div class="grid-price">
                                        <span class="money"> &#8377;{{products.prize}} </span>
                                    </div>
                                </div>



                                {% if user.is_authenticated %}      
                                <button type="submit" data-products="{{products.id}}" data-action="add"
                                    style="margin-top:1em ;" id="{{products.id}}" class="btn btn-info cart update-cart">

                                    <span style="color: rgb(255, 255, 255); "><i class="fa fa-shopping-cart"
                                            aria-hidden="true"></i>
                                    </span>
                                    <span class="glyphicon glyphicon-shopping-cart"></span>
                                    add to cart</button>
                                    {% else %}

                                    {% endif %}
                            </div>
                        </div>
                    </div>


                    {% endfor %}
                </div>
                
                <div class="grid-img-right mt-4 text-right">
                    <span class="money">Flat 50% Off</span>
                    <a href="shop-single.html" class="btn">Shop Now</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //contact -->
<!-- footer -->
{% endblock body %}

{% block js %}

<script type="text/javascript" src="{% static 'css/cart.js' %}"></script>

{% endblock %}
