{% extends "base.html" %}

{% load socialaccount %}
{% providers_media_js %} 
{% block title %}log-in{% endblock title %}

{% block body
  <h1>login</h1>
  <p>please enter your login detailes</p>
  <form method="post">

    {{form.as_p}}
    {% csrf_token %}
    <p><input type="submit" value="login">l</p>
    
    <div id="social">
      <a class="facebookBtn smGlobalBtn" href="{% provider_login_url "facebook" method="oauth2" %}" ></a>

      <a class="googleplusBtn smGlobalBtn" href="{% provider_login_url "google" %}" ></a>
  </div>
     
  </form>
{% endblock body
<h1>hlo</h1>